
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Интернет-магазин</h1>
    <p class="lead">Здесь должна быть информация о том, какой наш интернет-магазин классный и почему стоит покупать именно у нас.</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Вы можете начать покупать у нас прямо сейчас, просто зарегистрировавшись и добавив свой первый товар в корзину.</p>
        @Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { @class= "btn btn-primary btn-lg" })
    }
    <br />
    <div style="width: 100%; text-align: right;"><i>Так как дизайн сайта оставляет желать лучшего, все товары временно заменены на котиков :3</i></div>
</div>

@RenderBody()
