@model OnlineShop.Models.AspNetRoles

@{
    ViewBag.Title = "Удаление роли";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Действительно удалить роль у пользователя?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> | 
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
