@model IEnumerable<OnlineShop.Models.AspNetRoles>

<p>
        @Html.ActionLink("Добавить", "Add", new { id = ViewData["userId"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Удалить", "Delete", new { id = ViewData["userId"], name = item.Name })
        </td>
    </tr>
}

</table>
